body {
  height: 100vh;
  background-image: url(https://wallpaperset.com/w/full/7/c/4/5467.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  color: #fff;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 2;
}
.audio-player {
  width: 400px;
  height: 480px;
  overflow-y: auto;
  padding: 10px;
  background-color: #000;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.music {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px;
}
.cover-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.music-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.singer,
.song {
  font-size: 18px;
}
.controller {
  align-self: center;
  display: flex;
  gap: 14px;
}
.control-icon {
  font-size: 25px;
}
.album {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.album-box {
  width: 100%;
  height: 60px;
  border: 1px solid rgb(115, 255, 0);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
}
button {
  color: #fff;
}
.album-elements {
  display: flex;
  gap: 10px;
  align-items: center;
}
.album-image {
  width: 50px;
  height: 100%;
}
button:active .control-icon {
  color: lime;
}
.active {
  color: limegreen !important;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  background: #45cf1b;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 35px;
  width: 6px;
  border-radius: 7px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}
.image {
  width: 40px;
  height: 40px;
}
